.section {
  background-color: rgb(255, 255, 255);
  width: 300px;
  padding-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 10px 10px 40px #10a040;
}
.statisticsItem {
  display: flex;
  align-items: center;
  height: 100px;
}
.title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  height: 30px;
}
.item {
  width: 100%;
  list-style: none;
  cursor: pointer;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label {
  color: rgb(19, 192, 192);
}
.percentage {
  font-size: 20px;
  font-weight: 700;
}
